<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxhao.eved.business.server.mapper.BlogArticleMapper">
    <resultMap id="BaseResultMap" type="com.wxhao.eved.business.server.po.BlogArticle">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="article_name" jdbcType="VARCHAR" property="articleName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id  , create_time  , update_time  , article_name
    </sql>
    <select id="findByName" resultType="com.wxhao.eved.business.server.po.BlogArticle">

        select
        <include refid="Base_Column_List"/>
        from blog_article
        where
        article_name like CONCAT('%',#{name},'%')
        order by create_time desc
    </select>

</mapper>