package $classPackage;

import com.wxhao.boot.mybatis.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import $module.projectBasePackage.$module.entityPackage.$className;

#if( !$null.isNull($tableComment) )
/**
 * $tableComment
 */
#end
public interface $classFileName extends HaoBaseMapper<$className> {

}