<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$packageName.$class.name">
    <resultMap id="BaseResultMap" type="$module.entityPackageName.$class.oriName">
        <id column="id" jdbcType="BIGINT" property="id"/>
        #foreach($field in $fields)
        <result column="$field.dbName" jdbcType="$field.dbType" property="$field.name"/>
        #end
    </resultMap>
    <sql id="Base_Column_List">
        id#foreach($field in $fields)  ,$field.dbName #end
    </sql>
</mapper>