<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="$packageName.$class.name">
    <resultMap id="BaseResultMap" type="$module.entityPackageName.$class.oriName" extends="$packageName.${class.oriName}Mapper.BaseResultMap">
    </resultMap>
    <sql id="Base_Column_List">
        <include refid="$packageName.${class.oriName}Mapper.Base_Column_List" />
    </sql>
</mapper>