package $packageName;

import $module.entityPackageName.$class.oriName;
import com.wxhao.boot.mybatis.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

#set($tempSuperClassNameLength = $class.name.length() - 3)
#set($tempSuperClassName = $class.name.substring(0, $tempSuperClassNameLength))
/**
* $class.comment
*/
@Mapper
public interface $class.name extends BaseMapper<$class.oriName> {

}