package $classPackage;

import lombok.Data;
#foreach($import in $imports)
$import
#end

#if( !$null.isNull($tableComment) )
/**
 * $tableComment
 */
#end
@Data
public class $className {
#foreach($field in $fields)

#if( !$null.isNull($field.comment) )
    /**
     * $field.comment
     */
#end
    private $field.type $field.name;
#end

}
